site:
  title: ThoughtSpot Software
content:
  sources:
  # embedding empty credentials in the URL disables the Edit this Page link for any page created from this repository
  - url: ./
    branches: HEAD
    start_paths:
      - software/
ui:
  bundle:
    # url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    url: build/ui-bundle-software.zip
  supplemental_files:
  - path: .nojekyll
  - path: ui.yml
    contents: "static_files: [ .nojekyll ]"
    snapshot: true

output:
  clean: true
  dir: build/software
runtime:
  fetch: true
